
.main_page
{
    margin-top:  50px; 
}


.share_post_header
{
    background-color: var(--header-color);
    color: var(--text-light)
}
.post_image_box , .user_image_box
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    position: relative;
    height: 150px;
}
.post_user_image , .ifno_user_image
{
    width: 150px;
    height: 150px;
    object-fit: cover;;
    position: absolute;

}
.shar_post_box , .post_box , .users_box
{
    position: relative;
}
.post_box
{
    border: none !important;
}
.post_box_details
{
    margin: 15px 0;
    box-shadow: -4px 6px 16px rgb(0 0 0 / 20%);
}
.post_box_details .card-header
{
    background-color: var(--header-post);
    color: #fff;
}

.post_text
{
    
}
/* comments area*/
.comments
{
    display: flex;
    border-radius: 6px;
    padding: 8px;
    justify-content: center;
    box-shadow: 0px 0 2px #777;
     font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}
.comments_box
{
   margin: 20px 8px;
   padding: 0;
   max-height: 45px;
   transition: all  0.5s ease-in-out;
   overflow: hidden;
}
.comments_box.show
{
    max-height: 600px;
    height: auto;
    overflow-y: auto;
    transition: all 0.5s ease-in-out;
    
}
.comments_box::-webkit-scrollbar
{
    width: 0px;
}
.comments_form_box
{
    margin-top: 20px;
    padding: 5px 20px;
    position: relative;
  
}
.comments_form_textarea
{    height: 120px;
     width: 100%;
     border: 1px solid #ddd !important;
     margin-top: 25px;

}
.comments_num
{
    color: #ff5722;
    margin-right: 3px;
}
.comments-stats
{
    pointer-events: none;
}
.likes_num
{
 color: #4caf50;
    margin-left: 20px;
}




.user_comments_box
{
    /*border-bottom: 1px solid #ccc;*/
}
.users_comments
{
    padding: 5px 0;
    margin: 9px 0;
     /*border: 1px solid #ccc;*/
}
.users_comments_image
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.users_comments_image img
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.add_comment_btn
{
    margin: 9px 0;
}

.user_comments_name
{
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.users_comments_comment_area_comment{
    padding: 0;
    margin: 0;
}
.users_comments_comment_area_date
{    font-weight: 200;
    font-size: 13px;
    font-family: sans-serif;
    margin-left: 10px;
}


/* likes */ 
.big_card_body
{
    position: relative;
}
.likes_box
{
    top: 3px;
    opacity: 70%;
    max-width: 130px;
    position: absolute;
    right: 0;
    background: #ddd;
    padding: 5px;
    border-radius: 5px;
    transition: opacity 0.2s ease;
    
}
.likes_box:hover
{
    opacity: 100%;
}
.is_like , .i_dislike
{
    transition: all 0.5s ease;
    display: inline-block;
}
.fa-thumbs-up , .fa-thumbs-down
{
     color: #9e9e9e;
    font-size: 20px;
cursor: pointer
}
.fa-thumbs-up.active
{
    color: #0d6efd
}
.no_of_likes
{
    margin-left: 5px;
}
.fa-thumbs-down.active
{
    color: #dc3545;
}