
.main_page
{
    margin-top:  50px; 
}


.share_post_header
{
    background-color: var(--header-color);
    color: var(--text-light)
}

.textarea_text{
   min-height: 75px;
}

/*attachment*/
/*attachment*/
.post_attachment_div
{
   
position: relative;
   
/*width: 300px;*/
   
margin-bottom: 8px;
   
/* text-align: center; */
}
.post_attachment_div[data-type='video']
{
    /* height: 450px; */
    /* text-align: center; */
}
.post_attachment_div .video_attach
{
    /* width: 100%; */
    /* height: 100%; */
}
.post_attachment_div .image_attach
{
    max-width: 100%;
    max-height: 500pxpx;
    /*height: auto;*/
    max-height: 450px;
}
/*image show when choose image or attach*/
.image_thumb_div
{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 8px 16px #7777778c
}
.image_thumb
{
    max-width: 200px;
    
}
.video_attach
{
    /* width: 100%; */
    /* height: 100%; */
    max-height: 470px;
}
/*progress*/
.progress_div{
    position: relative;
    padding: 0;
    height: 25px;
    border-radius: 5px;
    background: #b8d9f7;
    display: none;
}
.progress
{
    position: absolute;
    display: inline-block;
    background: #8fbfb1;
    border-radius: 5px;
    width: 50%;
    height: 25px;
    transition: all 0.5s ease;
    font-size: 12px;
    line-height: 25px;
    color: #fff;
    padding-left: 10px;
}
.user_image_box
{
    position: relative;
    height: 150px;
    /* width: 100%; */
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
}
.post_image_box 
{
    /*position: relative;*/
    /*max-height: 100px;*/
    /* max-width: 100px; */
    /*margin-top: 49px;*/
    /*height: 60px;*/
    /*width: 60px;*/
    align-items: center;
}
.post_user_image 
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    line-height: 50px;;
    object-fit: cover;
}
.ifno_user_image
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.users_box_name{
    text-align: center;
    font-size: 17px;
    font-weight: 600;
}
.users_box_name a
{
    color: #795548 !important;
}
.shar_post_box , .post_box , .users_box
{
    position: relative;
}
.post_box
{
    border: none !important;
}
.post_box_details
{
    margin: 30px 0;
    box-shadow: 0 1px 9px #9e9e9e3b;
    position: relative;
    overflow: hidden;
    background: #2d3436;
    min-height: 300px
}
.post_box_details .card-header
{
    background-color: #3a5d78;
    color: #fff;
}


.post_text
{
    
font-size: 20px;
    
font-weight: 600;
    
color: #fff;
}
.post_date_release
{
    font-size: 10px;
    color: #fff !important;
}
/* comments area*/
.comments
{
    display: flex;
    border-radius: 6px;
    padding: 8px;
    justify-content: center;
    font-size: 17px;
    font-weight: 500;
    background: #fff;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0 1px 12px #6c757d24;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 6;
}
.comments_box
{
   margin: 20px 8px;
   padding: 0;
   max-height: 75px;
   transition: all  0.3s ease-in-out;
   overflow: hidden;
   position: relative;
}
.comments_box.show
{
    max-height: 600px;
    height: auto;
    overflow-y: none;
    transition: all 0.3s ease-in-out;
    
}


.comments_form_box
{
    margin-top: 20px;
    padding: 5px 20px;
    position: relative;
    min-height: 30px ;
    max-height: 500px;
    overflow-y: none;
    background-color: #6c757d
}
.allcomments_div {
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden
}
.allcomments_div::-webkit-scrollbar
{
    width: 3px !important;
}
.allcomments_div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.post_han_no_comment
{
    color:  #fff;
}
.comments_form_textarea
{    height: 120px;
     width: 100%;
     border: 1px solid #ddd !important;
     margin-top: 25px;

}
.comments_num
{
    color: #ff5722;
    margin-right: 3px;
}
.comments-stats
{
    pointer-events: none;
}
.likes_num
{
 color: #4caf50;
    margin-left: 20px;
}




.users_comments
{
   background: rgb(0 0 0 / 15%);
    border-radius: 5px;
    margin: 9px 5px 5px 0;
    padding: 10px 5px;
    position: relative;
    
     /*border: 1px solid #ccc;*/
}
.users_comments_image
{
    height: 40px;
    position: relative;
    width: 40px;
    margin-right: 15px;
}
.users_comments_image img
{
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

.add_comment_btn
{
    margin: 9px 0;
}

.user_comments_name
{
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.users_comments_comment_area{
    padding: 0;
    margin: 0;
    color: #f8f9fa;
    flex-direction: column !important;
    
}
.edit_comment
{
    position: absolute;
    right: 5px;
    width: 60px;
    
}
.edit_comment > i 
{
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 13px
}
.edit_comment > i:hover
{
     color: #ccc ;
}
.edit_comment > i:nth-child(1)
{
   color: #212529
}
.edit_comment > i:nth-child(2)
{
       color: #664d03;
}
.users_comments_comment_area_date
{
    font-weight: 200;
    font-size: 8px;
    font-family: sans-serif;
    margin-left: 5px;
    color: #fff;
}


/* likes */ 
.big_card_body
{
    position: relative;
    margin-top: 10px
}
.likes_box
{
    top: 7px;
    opacity: 70%;
    max-width: 130px;
    position: absolute;
    right: 80px;
    background: #ddd;
    padding: 2px;
    border-radius: 5px;
    transition: opacity 0.2s ease;
}
.likes_box:hover
{
    opacity: 100%;
}
.is_like , .i_dislike
{
    transition: all 0.3s ease;
    display: inline-block;
}
.fa-thumbs-up , .fa-thumbs-down
{
     color: #9e9e9e;
    font-size: 20px;
cursor: pointer
}
.fa-thumbs-up.active
{
    color: #0d6efd
}
.no_of_likes
{
    margin-left: 5px;
}
.fa-thumbs-down.active
{
    color: #dc3545;
}


/* add attachment*/
.share_post_attach
{
    padding: 0 20px;
    margin: 0px 0 10px 0;
     background: #6c757d47;
    border-radius: 3px;
}
.fa-photo-film, .fa-volume-high , .fa-file
{
    cursor: pointer;
    color: #6c757d;
}


/*edit*/
.showt_edit_div
{
    cursor: pointer;
}
.edit_big_box{
    text-align: center;
}
.fa-ellipsis-v
{
     pointer-events: none;
}

.post_card_header
{
    position: relative;
}


.edit_box
{
    position: absolute;
    background: #fff;
    color: #000;
    text-align: center;
    width: 120px;
   border-radius: 3px;
    top: 43px;
    right: 26px;
    z-index: 10;
    box-shadow: 0 1px 12px #6c757dd1;
    max-height: 0;
    transition: all 0.3s ease;
    overflow: hidden; visibility: hidden;
}
.edit_box.show
{
    max-height: 156px;
    overflow: visible;
   visibility: visible;
}
.edit_box.show a , .edit_box.show:hover a , .edit_box.show a:hover
{
    color: #000 !important;
    text-decoration: none;
}
.edit_box_edit , .edit_box_delete ,.edit_box_showPost
{
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 8px 0px;  
   
}
.edit_box_showPost:hover 
{
    background-color : #198754;
    color: #fff;
}
.edit_box_edit:hover 
{
    background-color : #6c757d;
    color: #fff;
}

.edit_box_delete:hover
{
     background-color: #dc3545 ;
      color: #fff;
}


/*edit post*/
.post_edit_image
{
        margin-bottom: 12px;
        text-align: center;
}
.post_edit_image img 
{
    /*max-height: 250px;*/
}
.remove_attach
{
    position: absolute;
    right: 30px;
    height: 25px;
    width: 25px;
    background: var(--text-follow);
    line-height: 25px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    top: 14px;
    /* box-shadow: 0 -18px 26px #666; */
    text-align: center;
}


/*doc attach */
.file_thumb_div
{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* width: 120px; */
    /* text-align: center; */
    text-align: start;
}
.file_thumb_div .filename
{
   font-family: serif; 
   color: #fff
}
.file_thumb
{
    margin-bottom: 6px;
    font-size: 40px;
    color: var(--bs-gray);
    /* display: block; */
}
.docs_name
{
    color: #6c757d !important;
}
.img_container
{
    text-align: center;
}
.remain_post
{
    display: none;
}
.cut_post {
    font-size: 20px;
    color: #fff;
}
textarea#Write_Post {
    height: 120px;
}

.online_status
{

    font-size: 12px;

}
.online_status[data-status="online"]
{
    color: #198754;
}
.online_status[data-status="offline"]
{
    color: #adb5bd;
}
.floadting_btn {
    position: fixed;
    color: var(--header-post);
    text-align: 0;
    z-index: 100;
    /* top: 42px; */
    font-size: 40px;
    /* border: 0; */
    right: 13px;
    bottom: 6px;
    cursor: pointer;
    /* transform: rotateX(355deg); */
    transform: rotateY(180deg);
}
.floadting_btn.hidden
{
    display: none;
}



/* chat*/
#chat1 .form-outline .form-control~.form-notch div {
pointer-events: none;
border: 1px solid;
border-color: #eee;
box-sizing: border-box;
background: transparent;
}

#chat1 .form-outline .form-control~.form-notch .form-notch-leading {
left: 0;
top: 0;
height: 100%;
border-right: none;
border-radius: .65rem 0 0 .65rem;
}

#chat1 .form-outline .form-control~.form-notch .form-notch-middle {
flex: 0 0 auto;
max-width: calc(100% - 1rem);
height: 100%;
border-right: none;
border-left: none;
}

#chat1 .form-outline .form-control~.form-notch .form-notch-trailing {
flex-grow: 1;
height: 100%;
border-left: none;
border-radius: 0 .65rem .65rem 0;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-leading {
border-top: 0.125rem solid #39c0ed;
border-bottom: 0.125rem solid #39c0ed;
border-left: 0.125rem solid #39c0ed;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-leading,
#chat1 .form-outline .form-control.active~.form-notch .form-notch-leading {
border-right: none;
transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-middle {
border-bottom: 0.125rem solid;
border-color: #39c0ed;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-middle,
#chat1 .form-outline .form-control.active~.form-notch .form-notch-middle {
border-top: none;
border-right: none;
border-left: none;
transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-trailing {
border-top: 0.125rem solid #39c0ed;
border-bottom: 0.125rem solid #39c0ed;
border-right: 0.125rem solid #39c0ed;
}

#chat1 .form-outline .form-control:focus~.form-notch .form-notch-trailing,
#chat1 .form-outline .form-control.active~.form-notch .form-notch-trailing {
border-left: none;
transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus~.form-label {
color: #39c0ed;
}

#chat1 .form-outline .form-control~.form-label {
color: #bfbfbf;
}
.chat_section.hide
{
    display: none
}
.user_section
{
    min-height: 450px
}
.card-header
{
    width: 100%;
}
.chat-dialaog-modal .modal-header
{
    border-bottom: 0px !important;
}
.card_userchat_header ,.card_chat_header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0px;
    border-radius: 20px 0 20px!important;
    padding: 10px 20px;
}
.chat_user_name {
    text-transform: capitalize;
}
.lastseen
{
        font-size: 10px;
    color: #6c757d;
}
/*char area users*/
.chat_user_box
{
    display: flex;
    margin-bottom: 10px ;
    cursor: pointer;
    position: relative;
}
.chat_user_box > div
{
    pointer-events : none;
}
.chat_user_right_box 
{
   /* margin-left: 30px; */
   padding-left: 30px;
   /* padding-right: 65px; */
}
.user_section.hide
{
    display: none;
}
img.chat_user_image {
    /* max-width: 100%; */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: c;
    object-fit: cover;
}
.chat_user_userName
{
        color: #795548 !important;
}

.online_chat_status
{

    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0px;
}
.online_chat_status[data-status="online"]
{
    color: #198754;
}
.online_chat_status[data-status="offline"]
{
    color: #adb5bd;
}
.go_back_chat{
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
}
.fa-paper-plane
{
    margin-right: 5px
}

section.chat_box::webkit--scrollbar
{
    width: 0;
}
section.chat_box {
    max-height: 500px;
    overflow: hidden;
}
p.chat_messages_text
{
    overflow: hidden;
    max-width: 320px;
    /* background: red; */
    max-height: 53px;
    width: fit-content;
}

/*chat box*/
.from_me
{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.5rem!important;
}
.from_otheruser
{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem!important;
}
.chat_box
{
    background-color: #eee;
}
.from_me_image img , .from_otheruser_image img
{
    width: 45px;
    border-radius: 50%;
    height: 45px;
    object-fit: cover;
}
.from_me_msg
{
    border-radius: 15px;
    background-color: rgba(57, 192, 237,.2);
    padding: 1rem!important;
    margin-left: 1rem!important;
    max-width: 300px;
    width: fit-content;
}
.from_otheruser_msg
{
    border-radius: 15px;
    background-color: #ffc107;
    padding: 1rem!important;
    max-width: 300px;
    margin-right: 1rem!important;
    width: fit-content;
}
.from_me_msg p , .from_otheruser_msg p 
{
    margin-bottom: 0; 
    overflow-wrap: break-word;
}

.inner_chat::-webkit-scrollbar
{
    width: 0
}
.inner_chat {
    height: 165px;
    overflow-y: scroll;
    padding: 5px;
    /* background: red; */
}

.no_msgs {
    text-align: center;
    background: #dee2e6;
    height: 100%;
    line-height: 10;
    font-size: 18px;
    font-size: 600;
    font-weight: 600;
}

.chat_messages_text.unseen
{
    font-weight: bold
}
.fa-check.sending {
    font-size: 12px;
}
.fa-check.done {
    font-size: 12px;
    color: #198754;
}
.fa-check.done:nth-child(1)
{
    margin-right: -4px;
}
.no-more-posts
{
    background-color: #055160 ;
    text-align : center;
    font-size: 20px ;
    color: #fff;
}

.fetch_users_div {
  
    max-height: 300px;
    padding: 5px;
    overflow-y: scroll
}
.fetch_users_div::-webkit-scrollbar 
{
    width: 0;
}