:root
{
    --header-color: #198754 ;
    --text-light : #fff;
    --text-follow: #f44336;
    --follow-btn: #ff5722 ;
    --unfollow_btn :#2196f3;
    --header-post : #2196f3;
}
.overlay_spinner
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 0;
}
.load_spinner
{
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-grow
{
    width: 1rem;
    height: 1rem;
}
.navbar-brand 
{
  color: #f8f9fa !important;
}

.user_profile_image
{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 10px;
}
.custom_load_spinner
{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3
}

.custome_overlay_spinner
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100;
    width: 100%;
    height: 100%;
    background: white;
     z-index: 2
}

.custom_alert
{
     position: fixed;
    z-index: 100;
    top: 8px;
    left: 5px;
    width: fit-content;
}


.real_time_noti{
    position: fixed !important;
    /* margin: 50px auto; */
    left: 50% !important;
    width: 260px !important;
    top: -100px;
    transform: translateX(-50%) !important;
    z-index: 1000;
    animation-name: show , hide ;
    animation-duration: 0.5s , 0.5s ;
    animation-timing-function: linear , linear;
    animation-delay: 2s , 7s;
    animation-iteration-count: 1 , 1 ;
    animation-fill-mode: forwards , forwards;

}

@keyframes show
{
    from {
        top: -100px;
        
    }
    to 
    {
        top: 50px;
    }
}
@keyframes hide
{
    from {
        top: 50px;
        
    }
    to 
    {
        top: -500px;
    }
}
.navbar
{
    background: transparent ;
    background-image: linear-gradient(180deg,#1f252e,#1f252e) ;
    padding: 10px 0;
}
.navbar_wraper
{
        justify-content: flex-end;
        width: 100%;
        align-items: center;
        flex-direction: row;
}
.navbar_wraper > .nav-item 
{

padding: 0;

/* line-height: 0px; */
}
.row_wraper
{
    
padding: 10px;
}
.nav-register-wraper
{
    margin-right: 11px;
}
.navbar_wraper > .nav-register 
{
    /* line-height: 0px; */
    padding: 0 5px;
    display: inline-block;
}
/*.navbar_wraper > .nav-item  + .nav-link*/
/*{*/
/*      padding: 0;*/
/*}*/

.noti_wraper
{
  cursor: pointer;
  margin-right: 10px;
}
.noti_count
{
    position: absolute;
    top: -10px;
    font-weight: 600;
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #dc3545;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
}
.noti_count.zero 
{
    display: none;
}
.noti_icon
{
    color: #fff;
      position: relative;
}

.notfication_box {
    padding: 5px;
    min-width: 300px;
    /* margin-top: 7px; */
}
.dropdown-menu-wraper
{
    
margin: 5px 0 0 12px !important;
}
.logged_user_name
{
    display: inline-block
}

.comment_username
{
    font-weight: bold;
    color: #198754;
    font-size: 14px;
}
.comment_link
{
    color: #084298 !important;
}
.notcation_details {
    /* background: #ccc; */
    margin: 5px;
    padding: 5px;
    font-size: 13px;
}

@media only screen and (max-width: 414px) {
    .user_profile_image
    {
        display: inline-block;
        width: 30px;
        height: 30px;
    }

}
@media only screen and (max-width: 375px) {
    .user_profile_image
    {
        display: none;
    }

}
