.profile_user
{
    margin-top: 60px;
    
    border: none !important;
}
.profile_user_image_box
{
    display: flex;
    justify-content: center;
    
}
.profile_user_image_box_img
{
     max-width: 400px !important;
    max-height: 400px !important;
    object-fit: contain;
}
.profile_user_info
{
    text-align: center;
}

.profile_user_info .card-text
{
        margin: 0;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 16px;
}

/*follow*/
.users_box_follow
{
    text-align: center
}
.follow_btn
{
    padding: 5px 21px;
    margin: 6px 0;
}
.follow_btn.follow
{
    margin-right: 8px ;
    background-color: var(--follow-btn);
    color: #fff;
}
.follow_btn.unfollow{
     background-color: var(--unfollow_btn);
}
.follower_num
{
    color: #f00;
}
.follower_text
{
    color: #53687c;
}


/* posts */
.main_page_posts_box
{
        max-width: 900px;
    margin: auto;
}
 .user_image_box
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    position: relative;
    height: 150px;
}
 .ifno_user_image
{
    width: 150px;
    height: 150px;
    object-fit: cover;;
    position: absolute;

}
.shar_post_box , .post_box , .users_box
{
    position: relative;
}
.post_box
{
    border: none !important;
}
.post_box_details
{
    margin: 30px 0;
  box-shadow: 0 1px 9px #9e9e9ed9;
    position: relative;
}

/*attachment*/
.post_attachment_div
{
   
    position: relative;
    /*width: 300px;*/
    margin-bottom: 8px;
    max-width: 600px;
}
.post_attachment_div[data-type='video']
{
    /*height: 300px*/
}
.post_attachment_div .video_attach
{
    width: -webkit-fill-available;
    /*height: auto;*/
}
.post_attachment_div .image_attach
{
    max-width: 100%;
   
    height: auto;
}
.post_box_details .card-header
{
    background-color: var(--header-post);
    color: #fff;
}

.post_date
{
    margin: 0;
    font-size: 15px;
    padding: 10px 0;
}
.post_text_box
{
    background-color: ##cccccc7a;
    margin-top: 40px;
}
.post_text
{
    font-weight: 500;
    margin-top: 8px;
    /* padding: 10px 0; */
    margin-bottom: 3px;
    padding-top: 10px;
}
/* comments area*/
.comments
{
    display: flex;
    border-radius: 6px;
    padding: 8px;
    justify-content: center;
    font-size: 17px;
    font-weight: 500;
    margin: 20px;
    cursor: pointer;
    box-shadow: 0 1px 12px #6c757d24;
}
.comments_box
{
   margin: 20px 8px;
   padding: 0;
   max-height: 80px;
   transition: all  0.3s ease-in-out;
   overflow: hidden;
}
.comments_box.show
{
    max-height: 600px;
    height: auto;
    overflow-y: auto;
    transition: all 0.5s ease-in-out;
    
}
.comments_box::-webkit-scrollbar
{
    width: 0px;
}
.comments_form_box
{
    margin-top: 20px;
    padding: 5px 20px;
    position: relative;
    padding-bottom: 40px;
      min-height: 30px
}
.comments_form_textarea
{    height: 120px;
     width: 100%;
     border: 1px solid #ddd !important;
     margin-top: 25px;

}
.comments_num
{
    color: #ff5722;
    margin-right: 3px;
}
.comments-stats
{
    pointer-events: none;
}
.likes_num
{
 color: #4caf50;
    margin-left: 20px;
}




.user_comments_box
{
    /*border-bottom: 1px solid #ccc;*/
}
.users_comments
{
    padding: 5px 0;
    margin: 9px 0;
     /*border: 1px solid #ccc;*/
}
.users_comments_image
{
    height: 40px;
    position: relative;
    width: 40px;
    margin-right: 15px;
}
.users_comments_image img
{
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

.add_comment_btn
{
    margin: 9px 0;
}

.user_comments_name
{
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.users_comments_comment_area_comment{
    padding: 0;
    margin: 0;
}
.users_comments_comment_area_date
{    font-weight: 200;
    font-size: 13px;
    font-family: sans-serif;
    margin-left: 10px;
}


/* likes */ 
.big_card_body
{
    position: relative;
}
.likes_box
{
    top: 10px;
    opacity: 70%;
    max-width: 130px;
    position: absolute;
    right: 10px;
    background: #ddd;
    padding: 5px;
    border-radius: 5px;
    transition: opacity 0.2s ease;
    
}
.likes_box:hover
{
    opacity: 100%;
}
.is_like , .i_dislike
{
    transition: all 0.5s ease;
    display: inline-block;
}
.fa-thumbs-up , .fa-thumbs-down
{
     color: #9e9e9e;
    font-size: 20px;
cursor: pointer
}
.fa-thumbs-up.active
{
    color: #0d6efd
}
.no_of_likes
{
    margin-left: 5px;
}
.fa-thumbs-down.active
{
    color: #dc3545;
}


/*edit*/
.showt_edit_div
{
    cursor: pointer;
}
.edit_big_box{
    text-align: center;
    position: absolute;
    top: 10px;
    left: 0;
}
.fa-ellipsis-v
{
     pointer-events: none;
}

.post_card_header
{
    position: relative;
}


.edit_box
{
    position: absolute;
    background: #fff;
    color: #000;
    text-align: center;
    width: 120px;
   border-radius: 3px;
    top: 43px;
    z-index: 10;
    box-shadow: 0 1px 12px #6c757dd1;
    max-height: 0;
    transition: all 0.3s ease;
    overflow: hidden; visibility: hidden;
}
.edit_box.show
{
    max-height: 156px;
    overflow: visible;
   visibility: visible;
}
.edit_box.show a
{
    color: #000 !important;
    text-decoration: none
}
.edit_box_edit , .edit_box_delete , .edit_box_showPost
{
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 8px 0px;  
    
 
    
}
.edit_box_showPost:hover 
{
    background-color : #198754;
    color: #fff;
}
.edit_box_edit:hover 
{
    background-color : #6c757d;
    color: #fff;
}

.edit_box_delete:hover
{
     background-color: #dc3545 ;
      color: #fff;
}


/*edit post*/
.post_edit_image
{
        margin-bottom: 12px;
}
.post_edit_image img 
{
    /*max-height: 250px;*/
}
.remove_attach
{
    position: absolute;
    right: 25px;
    height: 25px;
    width: 25px;
    background: var(--text-follow);
    line-height: 25px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    top: 25px;
    text-align: center;
}

/* add attachment*/
.share_post_attach
{
    padding: 0 20px;
    margin: 0px 0 10px 0;
     background: #6c757d47;
    border-radius: 3px;
}
.fa-photo-film, .fa-volume-high
{
    cursor: pointer;
}


/*doc attach */
.file_thumb_div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120px;
    text-align: center;
}
.file_thumb_div .filename
{
   font-family: serif; 
}
.file_thumb
{
    font-size: 50px;
    color: var(--bs-gray);
}